# === DREEM ===

# Raw & Processed EDF data
*.edf

# Dreem Reports
Dreem/data/raw/**/**/**/reports

# Dreem Test Reports & DB Outputs
Dreem_Test

# Luna DB outputs
Dreem/data/processed/luna_outputs/*

.DS_Store

